{% extends "base.html"%}

{%block title%} Home  {% endblock %}

{% block content %}

     

<!-- Default form subscription -->
<form class="text-center border border-light p-5">

    <p class="h4 mb-4">Editar funcionário</p>
    <p>Trocar informações sobre os funcionários</p>

   <!-- Name -->
    <input id="name" type="text" id="defaultSubscriptionFormPassword" class="form-control mb-4" placeholder="Name" value="{{funcionario.nome}}">

    <!-- Email -->
    <input id="email" type="email" id="defaultSubscriptionFormEmail" class="form-control mb-4" placeholder="E-mail" value="{{funcionario.email}}">

    <!-- Idade -->
    <input id="idade" type="text" id="defaultSubscriptionFormPassword" class="form-control mb-4" placeholder="Idade" value="{{funcionario.idade}}">

    <select id="equipe" class="browser-default custom-select">
      <option value="0">Eqp_Adm_Fin</option>
      <option value="1">Dev</option>
      <option value="2">Eqp_Proj</option>
      <option value="3">Eqp_RH</option>
      <option value="4">Eqp_Markt</option>
      <option value="5">Eqp_Pres</option>
      <option value="6">Eqp_Neg</option>    
    </select>

    <!-- Sign in button -->
    <button class="btn btn-info btn-block" type="submit" onclick="atualiza()">Alterar Funcionário</button>

</form>
<!-- Default form subscription -->
     

<script type="text/javascript">
    
    function atualiza(){
        
        let nome = $("#nome");
        let email = $("#email");
        let idade = $("#idade")
        let setor = $("#setor")

        var update = {
            nome: nome.value,
            email: email.value,
            idade: idade.value,
            setor: setor.value
        };

        fetch('${window.origin}/editar/{{funcionario.id}}', {
            
            methods: "POST",
            credentials: "include", //Pega as informações em coock e coloca na requisição
            body: JSON.stringfy(update),
            cache: "no-cache",
            headers: new Headers({
                "content-type": "application/json"
            })

        }).then(function (response){

            if(response.status !== 200){
                console.log("Response status foi boicotado: ${response.status}");
                return ;
            }

            response.json().then(function (data){
                console.log(data)
            })
        })

    }

</script>

{% endblock %}