{% extends "base.html"%}

{%block title%} Home  {% endblock %}

{% block content %}

<div style="pediting-top: 50px" class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
  <main style="pediting-top: 20px" class="mdl-layout__content mdl-color--grey-100">
     

        <!-- Default form subscription -->
        <form class="text-center border border-light p-5">

            <p class="h4 mb-4">Editar funcionário</p>
            <p>Trocar informações sobre os funcionários</p>

           <!-- Name -->
            <input type="text" id="defaultSubscriptionFormPassword" class="form-control mb-4" placeholder="Name">

            <!-- Email -->
            <input type="email" id="defaultSubscriptionFormEmail" class="form-control mb-4" placeholder="E-mail">

            <!-- Idade -->
            <input type="text" id="defaultSubscriptionFormPassword" class="form-control mb-4" placeholder="Idade">

            <select class="browser-default custom-select">
              <option value="0">Eqp_Adm_Fin</option>
              <option value="1">Dev</option>
              <option value="2">Eqp_Proj</option>
              <option value="3">Eqp_RH</option>
              <option value="4">Eqp_Markt</option>
              <option value="5">Eqp_Pres</option>
              <option value="6">Eqp_Neg</option>    
            </select>

            <!-- Sign in button -->
            <button class="btn btn-info btn-block" type="submit">Alterar Funcionário</button>



        </form>
        <!-- Default form subscription -->
     
   </main>
</div>

{% endblock %}