{% extends "base.html"%}

{%block title%} Perfil  {% endblock %}

{% block content %}


<div style="padding-top: 50px" class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
    <main style="padding-top: 20px" class="mdl-layout__content mdl-color--grey-100">
        <div class="mdl-grid demo-content">
            
            <section>    
                <!--INFORMAÇÕES SOBRE O USUARIO-->
                <div class="container">                    
                    <!--NOME-->
                    <div class="row">
                        <div class="col-sm-4">
                            Nome
                        </div>
                        <div class="col-sm-6">
                            {{ current_user.nome }}
                        </div>
                        <div class="col-sm-2">
                            <button type="button" class="btn btn-light" onclick="formulario_nome('editar_nome')">Editar</button>
                        </div>
                    </div>
                    <!--FORMULARIO PARA ALTERAR NOME-->
                    <div id="editar_nome" style=" display: none;">
                        <form method="POST">
                            {{ form_nome.hidden_tag() }}
                            <div class="form-group">
                                {{ form_nome.novo_nome.label }}{{ form_nome.novo_nome(class="form-control", value= current_user.nome) }}
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn btn-secondary" onclick="formulario_nome_cancelar('editar_nome')">Cancelar</button>
                                {{ form_nome.submit(class="btn btn-primary") }}
                            </div>
                        </form>
                    </div>
                    <div class="dropdown-divider"></div>
                </div>
            </section>

        </div>
    </main>
</div>

{% endblock %}