<!DOCTYPE html>
<html>
<head>
    <title>{% block titulo %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="description" content="Sistema para o aprendizado de flask">
    <meta name="keywords" content="HTML,CSS,JavaScript, Python, Flask">
    <meta name="author" content="UFMG Informatica Jr">

    <link href="{{url_for('static',filename='style.css')}}" rel="stylesheet">

</head>
<body>
    <nav>
        <a href="{{url_for('index')}}">Página inicial</a>
        <a href="{{url_for('sobre')}}">Sobre</a>
        <a href="{{url_for('cadastro')}}">Cadastro</a>
        <a href="{{url_for('listar')}}">Listar</a>
    </nav>
    {% block conteudo %}{% endblock %}

    <script type="text/javascript" src="{{url_for('static',filename='style.js')}}"></script>
</body>
</html>
